RewriteEngine On

# Wenn nicht HTTPS ODER wenn das www am Anfang fehlt
RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
# Dann leite direkt auf die HTTPS-WWW-Version weiter
RewriteRule ^(.*)$ https://www.joga-koscian.pl/$1 [L,R=301]

